.navbar{
  padding-left: 50px;
}

#corps{
  margin-left: 50px;
}

h1{
  font-weight: bold;
}

#btnValider{
  font-size: 17px;
  margin-bottom:20px;
  margin-top:20px;
}

#logo{
    float:right;
    width:220px;
    height: auto;
    margin-right: 80px;
}

body{
    background: #757575;
    height: 100%;
}
